body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff4e6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff4e6;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover {
    color: #ff9800; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.hero button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.image-section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-row-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.image-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.image-right {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.image-row img {
    width: 48%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}
